.everything {
  width:85%;
  margin: 0 auto;
  position: absolute;
}


.floatingleft{
  /*width:60%;*/
  width:50%;
  clear:left;
  border: 5px dotted;
}

.floatingright{
/*width:60%;*/
width:50%;
float:right;  
background:blue;
}
