/* 
Because we all need some Sass in our lives. And in our codes.
--------------------------------------------------------------------------------- 
This code will subtly (or not so subtly) generate different colors for background.
This code will also do some animations for header. 
*/
@-webkit-keyframes changecolours {
  0% {
    background-color: #ececec; }
  10% {
    background-color: #9dced8; }
  20% {
    background-color: #bfd496; }
  30% {
    background-color: #c6bc91; }
  40% {
    background-color: #fbe39d; }
  50% {
    background-color: #d8a89d; }
  60% {
    background-color: #a58bbe; }
  70% {
    background-color: #d8d89d; }
  80% {
    background-color: #9dd8c4; }
  90% {
    background-color: #9dced8; }
  100% {
    background-color: #ececec; } }
@keyframes changecolours {
  0% {
    background-color: #ececec; }
  10% {
    background-color: #9dced8; }
  20% {
    background-color: #bfd496; }
  30% {
    background-color: #c6bc91; }
  40% {
    background-color: #fbe39d; }
  50% {
    background-color: #d8a89d; }
  60% {
    background-color: #a58bbe; }
  70% {
    background-color: #d8d89d; }
  80% {
    background-color: #9dd8c4; }
  90% {
    background-color: #9dced8; }
  100% {
    background-color: #ececec; } }

@-webkit-keyframes title {
  0% {
    left: 0; }
  100% {
    left: -85px; } }

@keyframes title {
  0% {
    left: 0; }
  100% {
    left: -85px; } }

h1 {
  -webkit-animation-name: title;
  animation-name: title;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  position: relative; }

h2 {
  position: relative; }

#main_content_wrap {
  -webkit-animation-name: changecolours;
  animation-name: changecolours;
  -webkit-animation-duration: 100s;
  animation-duration: 100s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }
